<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.examapplikation">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Secret Notes"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NoteInputActivity"
            android:parentActivityName=".HomeActivity"/>


        <activity android:name=".MySplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfilePasswordUpdateActivity" android:parentActivityName=".ProfileActivity"/>
        <activity android:name=".ProfileUpdateActivity" android:parentActivityName=".ProfileActivity"/>
        <activity android:name=".ProfileActivity" android:parentActivityName=".HomeActivity"/>
        <activity android:name=".ForgotPasswordActivity" android:parentActivityName=".MainActivity"/>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>